:root {
  --bg-color: white;
  --bg-color-2: #f4f4f4;
  --border-color: #ccc;
  --text-color: black;
  --button-color: #007BFF;
}

.dark-mode {
  --bg-color: #121212;
  --bg-color-2: #232323;
  --border-color: grey;
  --text-color: white;
  --button-color: #004793;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.App {
  display: flex;
  font-family: Arial, sans-serif;
  height: 100vh;
}

.App button {
  background-color: var(--bg-color);
  color: var(--text-color);
  border-radius: 4px;
}

.App button:hover {
  background-color: var(--bg-color-2);
}

.login-error {
  justify-self: center;
  margin:0;
  color: red;
}

.settingsButton {
  position: absolute;
  right: 16px;
  top: 16px;
  z-index: 1001;
  font-size: xx-large;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.settingsButton:hover {
  background-color: var(--bg-color) !important;
  color: grey;
}

.settings-modal {
  background-color: var(--bg-color);
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  border-radius: 8px 0 0 8px;
}

.close-settings {
  background-color: var(--bg-color);
  border: none;
  width: 25px;
  height: 25px;
  margin: 16px 16px 0 0;
  padding: 0;
  font-size: larger;
}

.close-settings:hover {
  background-color: var(--bg-color-2);
  border-radius: 4px;
}

.settings-list {
  padding: 16px;
  margin: 0;
}

.settings-list button {
  width: 100%;
  padding: 10px;
  background-color: var(--bg-color);
  border: none;
  border-radius: 5px;
  font-weight: 700;
  text-align: left;
  display: inline-flex;
  align-items: center;
}

.settings-list button:hover {
  width: 100%;
  background-color: var(--bg-color-2);
}

.Sidebar {
  width: 25%;
  background-color: var(--bg-color-2);
  padding: 1rem;
  border-right: 1px solid var(--border-color);
}

.Sidebar h3 {
  margin-top: 0;
  color: var(--text-color);
}

.Sidebar h4 {
  margin: 0;
  color: var(--text-color);
  justify-self: center;
}

.Sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Sidebar li {
  display: flex;
  justify-content: space-between;
  padding-top: 8px;
  cursor: pointer;
}

.Sidebar li.active {
  font-weight: bold;
  color: var(--button-color);
}

.Sidebar hr {
  color: var(--border-color);
  background-color: var(--border-color);
  border-color: var(--border-color);
}

.folder-list {
  height: 40%;
  overflow-y: auto;
}

.tags-list {
  height: 40%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tags-list input {
  justify-self: center;
  background-color: var(--bg-color);
  border: 1px solid black;
  border-radius: 4px;
  padding: 3px;
}

.ContentView {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;
}

.ContentView h3 {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.ContentView ul {
  list-style-type: none;
  padding: 0;
}

.folder-header {
  position: fixed;
  top: 0;
  width: 66%;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  padding: 20px;
  z-index: 1000;
}

.folder-body {
  margin-top: 85px;
  overflow-y: auto;
  height: calc(100% - 100px);
  box-sizing: border-box;
}

.folder-posts {
  margin: 10px;
  padding: 16px;
  padding-bottom: 6px;
  background-color: var(--bg-color-2);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
}

.folder-posts li {
  margin-bottom: 10px;
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002;
}

.ModalContent {
  background-color: var(--bg-color-2);
  padding: 2rem;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.ModalContent h3 {
  margin-top: 0;
  justify-self: center;
}

.ModalContent label {
  display: block;
  margin-top: 1rem;
  justify-self: center;
}

.ModalContent input, .ModalContent textarea {
  width: 96%;
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.ModalContent textarea {
  resize: none;
  height: 100px;
}

.ModalContent button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--button-color);
  color: var(--bg-color);
  border-radius: 4px;
  cursor: pointer;
}

.ModalContent button:hover {
  background-color: #0066d3;
}

.Tags {
  display: flex;
  gap: 10px;
  justify-content: center;
  overflow-x: auto;
}

.Tag {
  border: 1px solid var(--border-color);
  padding: 2px;
  padding-left: 5px;
  font-size: small;
  border-radius: 4px;
  height: 20px;
}

.Tags button {
  color: var(--text-color);
  padding: 0;
  height: 20px;
  width: 20px;
  margin: 0;
  background-color: var(--bg-color-2);
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.Tags button:hover {
  background-color: var(--border-color);
}
